
.side-image {
	float: right;
	margin: 0 0 20px 16px;
}

.bottom-image {
	display: block;
	margin: 20px auto 0;
}

body {
  background-color: navy;
  text-align:left;
  color: white;
}

/* title style */
h1 {
    font-family: sans-serif;
}

/* subtitle style */
h2 {
font-family: sans-serif;
}

/* image style */
img {
  float: right;
  width: 200px;
  margin: 10px;
  border-color: white;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  height:auto
}

/* paragraph style */
p {
    text-align: left;
    font-family: fantasy;
    font-size: 14px;
}

.intro {
    font-family: fantasy;
    font-size: 18px;
    color: black;
    border: 5px solid gray ;
}